<!DOCTYPE html>
<html>

<head>
	<style type="text/css">

		/* Set the size of the div element 
		that contains the map */
		#map {
			height: 400px;
			width: 400px;
		}
		
		h2 {
			color: #308d46;
		}
	</style>
</head>

<body>
	<h2>
		Why wont this workkkk
	</h2>

	<!--The div element for the map -->
	<div id="map"></div>

	<!--Add a script by google -->
	<script src=
"https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY || 'Invalid or No API Key' %>&callback=initMap&libraries=&v=weekly"
		async>
	</script>
	<script>
 
        // Initialize and add the map
        function initMap() {
 
            // The location of Geeksforgeeks office
            const gfg_office = {
                lat: 51.063696,
                lng: -1.319273
            };
 
            // Create the map, centered at gfg_office
            const map = new google.maps.Map(
                    document.getElementById("map"), {
 
                // Set the zoom of the map
                zoom: 13,
                center: gfg_office,
            });
        }
    </script>

</body>

</html>
