<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <button onclick="navigateToLoginPage()">Login</button>
    <button onclick="navigateToSignupPage()">Sign Up</button>

    <script>
      function navigateToLoginPage() {
        window.location.href = 'login'; 
      }
      function navigateToSignupPage() {
        window.location.href = 'signup';
      }
    </script>
  </body>
</html>