<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <button onclick="login()">Login</button>

    <script>
      function login() {
        window.location.href = 'login'; 
      }
    </script>
  </body>
</html>